<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*"
           Language="1033"
           Manufacturer="Microsoft Corporation"
           Name="quicreach"
           UpgradeCode="8395c163-ac9f-4a89-82fc-689fe25f0777"
           Version="1.1.0.0">

    <Package InstallScope="perMachine" Compressed="yes" />

    <MajorUpgrade DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />

    <MediaTemplate EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="quicreach">
          <Component Id="ProductComponent">
            <File KeyPath="yes" Source="quicreach.exe"></File>
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="HelloWorldFeature">
      <ComponentRef Id="ProductComponent" />
    </Feature>

  </Product>
</Wix>