<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*"
           Language="1033"
           Manufacturer="Microsoft Corporation"
           Name="quicreach"
           UpgradeCode="8395c163-ac9f-4a89-82fc-689fe25f0777"
           Version="1.1.0.0">
    <Package InstallScope="perUser" Compressed="yes" />
    <MajorUpgrade DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />
    <MediaTemplate EmbedCab="yes" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="COMPANYFOLDER" Name="Microsoft Corporation">
          <Directory Id="INSTALLFOLDER" Name="quicreach">
            <Component Id="ProductComponent" Guid='4c39c05d-c4bd-44d2-aba6-78abbb0c0d21'>
              <File KeyPath="yes" Source="quicreach.exe"></File>
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
    <DirectoryRef Id="TARGETDIR">
      <Component Id="PathEnvUsr" Guid="df49ef33-1b21-45ca-b0df-5feebf4ceaca">
        <Environment Id="EnvPathUsr" Name="PATH" Action="set" Part="last" System="no" Value="[INSTALLFOLDER]" Permanent="no"/>
      </Component>
    </DirectoryRef>
    <Feature Id="quicreach">
      <ComponentRef Id="ProductComponent" />
      <ComponentRef Id='PathEnvUsr' />
    </Feature>
  </Product>
</Wix>
