name: Build

on:
  push:
    branches: main
  pull_request:
    branches: main

permissions: read-all

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu, windows]
        tls: [schannel, openssl]
        shared: [on, off]
        exclude:
        - os: ubuntu
          tls: schannel
    permissions:
      contents: read
    name: Build
    runs-on: ${{ matrix.os }}-latest
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@9b0655f430fba8c7001d4e38f8d4306db5c6e0ab
      with:
        egress-policy: audit
    - name: Checkout repository
      uses: actions/checkout@629c2de402a417ea7690ca6ce3f33229e27606a5
      with:
        submodules: 'recursive'
    - name: Install Perl
      if: runner.os == 'Windows'
      uses: shogo82148/actions-setup-perl@20a7fcafc28850ff808cc2fa81e688fca4b3b47c
      with:
        perl-version: '5.34'
    - name: Install NASM
      if: runner.os == 'Windows'
      uses: ilammy/setup-nasm@10788e307d96af7013172d66126322c70b22efb9
    - name: Generate (Linux)
      if: runner.os == 'Linux'
      run: mkdir build && cd build && cmake -G 'Unix Makefiles' -DCMAKE_BUILD_TYPE=RelWithDebInfo -DQUIC_TLS=${{ matrix.tls }} -DQUIC_BUILD_SHARED=${{ matrix.shared }} ..
    - name: Generate (Windows)
      if: runner.os == 'Windows'
      run: mkdir build && cd build && cmake -G 'Visual Studio 17 2022' -A x64 -DQUIC_TLS=${{ matrix.tls }} -DQUIC_BUILD_SHARED=${{ matrix.shared }} ..
    - name: Build (Linux)
      if: runner.os == 'Linux'
      run: cd build && cmake --build .
    - name: Build (Windows)
      if: runner.os == 'Windows'
      run: cd build && cmake --build . --config Release
    - name: Upload
      uses: actions/upload-artifact@6673cd052c4cd6fcf4b4e6e60ea986c889389535
      with:
        name: bin-${{ matrix.os }}-${{ matrix.tls }}-shared_${{ matrix.shared }}
        path: |
          build/**/*.so
          build/**/*.dll
          build/**/quicreach
          build/**/quicreach.exe
    - name: Install
      run: cd build && sudo cmake --install . --config Release
    - name: Test (Linux)
      if: runner.os == 'Linux'
      run: /usr/local/lib/quicreach outlook-evergreen.office.com,www.cloudflare.com,www.google.com --req-all --stats
    - name: Test (Windows)
      if: runner.os == 'Windows'
      run: |
        & 'C:/Program Files/quicreach/lib/quicreach' outlook-evergreen.office.com,www.cloudflare.com,www.google.com --req-all --stats
