name: OneBranch-Style Build

on:
  push:
    branches: main
  pull_request:
    branches: main

permissions: read-all

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        arch: [x64, arm64]
    name: Build
    runs-on: windows-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@1d96c772d19495a3b5c517cd2bc0cb401ea0529f
      with:
        submodules: 'recursive'
    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@6fb02220983dee41ce7ae257b6f4d8f9bf5ed4ce
    - name: Pre-Build
      shell: pwsh
      run: ./.azure/pre-build.ps1 -Arch ${{ matrix.arch }}
    - name: Build
      run: msbuild ./build/ALL_BUILD.vcxproj /p:Configuration=Release /p:Platform=${{ matrix.arch }}
    - name: Post-Build
      shell: pwsh
      run: ./.azure/post-build.ps1 -Arch ${{ matrix.arch }}
    - name: Upload
      uses: actions/upload-artifact@1746f4ab65b179e0ea60a494b83293b640dd5bba
      with:
        name: bin-windows-${{ matrix.arch }}
        path: |
          build/bin/**/*.so
          build/bin/**/*.dll
          build/bin/**/quicreach
          build/bin/**/quicreach.exe
          build/bin/**/quicreach.msi
