name: OneBranch-Style Build

on:
  push:
    branches: main
  pull_request:
    branches: main

permissions: read-all

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        arch: [x64, arm64]
    name: Build
    runs-on: windows-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      with:
        submodules: 'recursive'
    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@6fb02220983dee41ce7ae257b6f4d8f9bf5ed4ce
    - name: Pre-Build
      shell: pwsh
      run: ./.azure/pre-build.ps1 -Arch ${{ matrix.arch }}
    - name: Build
      run: msbuild ./build/ALL_BUILD.vcxproj /p:Configuration=Release /p:Platform=${{ matrix.arch }}
    - name: Post-Build
      shell: pwsh
      run: ./.azure/post-build.ps1 -Arch ${{ matrix.arch }}
    - name: Upload
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
      with:
        name: bin-windows-${{ matrix.arch }}
        path: |
          build/bin/**/*.so
          build/bin/**/*.dll
          build/bin/**/quicreach
          build/bin/**/quicreach.exe
          build/bin/**/quicreach.msi
